include ./nav_bar.pug
include ./headers.pug

+headers('Turnstile Records',['/css/main.css','/css/main.dark.css'], ['/js/main.js'])
+navbar()
#content.light-box
  p
    | Your Appointment has been confirmed.
  p
    | See you soon.