mixin navbar()
  div.nav_bar
    ul
      li.light
        a(href='/') Turnstile Records
      li.light
        a(href='/testimonies') Testimonies
      li.light
        a(href='/contact') Contact Form
      li.light
        a(href='/admin/contactlog') Contact List
      button.theme Toggle Dark Mode